* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat;
}

ul {
  list-style-type: none;
}

.wrapper {
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ca806c), to(#ca9064));
  background-image: linear-gradient(to right, #ca806c 0%, #ca9064 100%);
  background-size: 200px;
  padding: 30px 0 20px 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

.navbar.active {
  width: 200px;
}

.burger {
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  width: 30px;
  height: 19px;
  cursor: pointer;
}

.burger__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px 0 0;
}

.burger:hover > .burger__line {
  background: #fff;
}

.burger__line {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: #ffd1c6;
  -webkit-transition-property: top, left, width, height, -webkit-transform;
  transition-property: top, left, width, height, -webkit-transform;
  transition-property: top, left, width, height, transform;
  transition-property: top, left, width, height, transform, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.burger__line-2, .burger__line-3 {
  top: 8px;
}

.burger__line-2.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger__line-3.active {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger__line-4 {
  top: 16px;
}

.burger__line-1.active, .burger__line-4.active {
  top: 8px;
  left: 16px;
  width: 0;
  height: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  -webkit-transition: width 0.2s ease-in-out 0.1s;
  transition: width 0.2s ease-in-out 0.1s;
}

.menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  width: 100%;
  height: 45px;
  max-height: 45px;
  letter-spacing: 0.5px;
  color: #ffe1da;
  border-top: 1px solid #cf8b78;
  border-bottom: 1px solid #ac7364;
  cursor: pointer;
}

.menu__item-full {
  font-size: 0;
  -webkit-transition: font-size 0.2s ease-in-out;
  transition: font-size 0.2s ease-in-out;
}

.menu__item-full.active {
  font-size: 1.2em;
}

.menu__item-small {
  font-size: 36px;
}

.menu__item:hover {
  color: white;
}

.menu__item:hover::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3px;
  background: #ffd1c6;
}

.main {
  padding: 20px 40px 20px 100px;
  -webkit-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}

.main.active {
  padding-left: 240px;
}

.main__title {
  display: inline-block;
  font-size: 2em;
  line-height: 1;
  letter-spacing: 1px;
  font-weight: 700;
  padding-bottom: 5px;
  margin-bottom: 45px;
  border-bottom: 3px solid #ca9064;
}

.main__body {
  margin-bottom: 20px;
  margin-right: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (300px)[4];
  -ms-grid-columns: (250px)[3];
      grid-template: repeat(4, 300px)/repeat(3, 250px);
  grid-gap: 20px;
}

.card {
  width: 250px;
  height: 300px;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.35);
}
/*# sourceMappingURL=style.css.map */