@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
// vars
$bgLight: #ffd1c6;
$textLight: #ffe1da;
$burgerWidth: 30px;
$burgetHeight: 19px;
$burgerLine: 3px;
$firstIndent: 8px;
$secondIndent: 16px;
$gradientEnd: #ca9064;
$cardHeight: 350px;
$cardWidth: 250px;
//
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Montserrat;
}
ul {
  list-style-type: none;
}
.wrapper {
  min-height: 100vh;
  // overflow-x: hidden;
}
// --------------
// Left side navbar
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  background-image: linear-gradient(to right, #ca806c 0%, #ca9064 100%);
  background-size: 200px;
  padding: 30px 0 20px 0;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  transition: width 0.2s ease-in-out;
  &.active {
    width: 200px;
  }
}
.burger {
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  width: $burgerWidth;
  height: $burgetHeight;
  cursor: pointer;
  &__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 15px 0 0;
  }
  &:hover > &__line {
    background: #fff;
  }
  &__line {
    position: absolute;
    top: 0;
    left: 0;
    width: $burgerWidth;
    height: $burgerLine;
    background: $bgLight;
    transition-property: top, left, width, height, transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.15s;
    &-2,
    &-3 {
      top: $firstIndent;
    }
    &-2 {
      &.active {
        transform: rotate(45deg);
      }
    }
    &-3 {
      &.active {
        transform: rotate(-45deg);
      }
    }
    &-4 {
      top: $secondIndent;
    }
    &-1,
    &-4 {
      &.active {
        top: $firstIndent;
        left: $secondIndent;
        width: 0;
        height: 0;
      }
    }
  }
}
.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  transition: width 0.2s ease-in-out 0.1s;
  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    height: 45px;
    max-height: 45px;
    letter-spacing: 0.5px;
    color: $textLight;
    border-top: 1px solid #cf8b78;
    border-bottom: 1px solid #ac7364;
    cursor: pointer;
    &-full {
      font-size: 0;
      transition: font-size 0.2s ease-in-out;
      &.active {
        font-size: 1.2em;
      }
    }
    &-small {
      font-size: 36px;
    }
    &:hover {
      color: rgb(255, 255, 255);
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 3px;
        background: $bgLight;
      }
    }
  }
}
// --------------
// main container
.main {
  padding: 20px 40px 20px 100px;
  transition: padding 0.2s ease-in-out;
  &.active {
    padding-left: 240px;
  }
  &__title {
    display: inline-block;
    font-size: 2em;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 700;
    padding-bottom: 5px;
    margin-bottom: 45px;
    border-bottom: 3px solid $gradientEnd;
  }
  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($cardWidth, 1fr));
    grid-gap: 40px;
  }
}
.card {
  height: $cardHeight;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  // border: 3px solid $gradientEnd;
  border-radius: 0.8em;
  padding: 1em 2em;
  cursor: pointer;
}
